body{
  background-color:green;
}

#buttons input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}
#playerList{
  float:right;
}
#chatList{
  display:none;
  background-color:white;
  margin-top:5px;
  overflow-y:scroll;
  width:300px;
  height:100px;
}
