body{
  background-color:silver;
}

#buttons input[type=button], input[type=submit], input[type=reset] {
    background-color: DimGray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}
#lobbylist{
  position:fixed;
  top:50px;
  left:0;


}
#lobbylist input[type=button], input[type=submit], input[type=reset] {
    background-color: DimGray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  display:list-item;

}
#buttons{
  text-align: center;
  width:50%;
  
  margin-left: auto ;
  margin-right: auto ;

}
#usernamediv input[type=button], input[type=submit], input[type=reset] {
    background-color: DimGray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: auto auto;
    cursor: pointer;


}
#usernamediv{
  text-align: center;
  width:50%;
  height:50%;
  margin-left: auto ;
  margin-right: auto ;
}
#refresh{
float:right;
}
#refresh{
  display:none;
  background-color: DimGray;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#chatholder{
  position: fixed;
    bottom: 0;
    right: 0;
}
#playerlistholder{
  display:none;
  position: fixed;
    top: 0;
    left: 0;
}

#chatList{

  display:none;
  background-color:white;
  margin-top:5px;
  overflow-y:scroll;
  width:300px;
  height:100px;
}
